/* ------ start animation list ------ */
@keyframes logo-rotate-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-color-animation {
  from {
    background-color: #ffffff;
    color: #1db954;
  }

  to {
    background-color: #1db954;
    color: #ffffff;
  }
}

@keyframes active-music-shadow-animation {
  0% {
    box-shadow: 0 0 2px 0px #70e79a;
  }

  25% {
    box-shadow: 0 0 3px 1px #70e79a;
  }

  50% {
    box-shadow: 0 0 4px 2px #70e79a;
  }

  75% {
    box-shadow: 0 0 4px 3px #70e79a;
  }

  100% {
    box-shadow: 0 0 5px 4px #70e79a;
  }
}

@keyframes equlizer-transform {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes equlizer-height-color {
  0% {
    height: 20%;
    background-color: #16853d;
  }

  25% {
    height: 50%;
    background-color: #1db954;
  }

  50% {
    height: 30%;
    background-color: #51eb87;
  }

  75% {
    height: 50%;
    background-color: #85eba9;
  }

  100% {
    height: 20%;
    background-color: #16853d;
  }
}

/* ------ end animation list ------ */

/* ------ start general styles ------ */
:root {
  --toastify-color-success: #2dd89f;
  --toastify-color-warning: #fc4932;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #212121;
  color: #f2f2f2;
  font-size: 1.6rem;
  line-height: 200%;
  word-spacing: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(#1db954, #555);
}

.ls-1 {
  letter-spacing: 0.4rem;
}

.ls-2 {
  letter-spacing: 0.2rem;
}

.jump-to-top {
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 80px;
  right: 8%;
  z-index: 3;
  font-size: 18px;
  font-weight: bold;
  padding: 1.1rem 1.5rem 1.2rem 1.5rem;
  color: #fff;
  outline: none;
  transition: all 0.5s;
}

.jump-to-top:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
/* ------ end general styles ------ */

/* ------ start header styles ------ */
header {
  background: linear-gradient(180deg, #333333 0%, #23352a 100%);
  position: relative;
  z-index: 1;
}

header .music-cover .music-filter {
  width: 230px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(237.39deg, #212121 12.49%, #232424 100%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header .music-cover svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  cursor: pointer;
}

header .music-description .music-title h1 {
  font-size: 3rem;
}

header .music-description .music-title h2 {
  font-size: 1.5rem;
  color: #1db954;
}

header .music-description .favorite-star button {
  border: none !important;
  outline: none !important;
}

header .music-range div span {
  font-size: 1.2rem;
}

header .music-range .range-slider {
  height: 2rem;
  background-color: #f2f2f2;
  border-radius: 6rem;
  overflow: hidden;
}

header .music-range .range-slider .progress-custom {
  background: radial-gradient(#85eba9, #1db954);
  z-index: 2;
  pointer-events: none;
}

header .music-range input[type='range'] {
  cursor: pointer;
  appearance: none;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header .music-range input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 0.05rem;
  height: 4rem;
  background-color: #1db954;
  margin-left: -1rem;
}

header .music-nav button:hover {
  background-color: #424649;
}

header .music-nav .play-button svg {
  fill: #ffffff;
}

header .main-logo .main-logo-box h4 {
  letter-spacing: 0.8rem;
  font-weight: bold;
  color: #1db954;
}

header .main-logo .main-logo-box h4 span:last-child,
header .main-logo .main-logo-box h4 span:nth-child(3) {
  letter-spacing: 0;
}

header .main-logo .main-logo-box h4 span:first-child,
header .main-logo .main-logo-box h4 span:last-child {
  font-size: 1.1rem;
  vertical-align: 4px;
}

header .main-logo .main-logo-box h4 span:nth-child(even) {
  font-size: 1.6rem;
  vertical-align: 2px;
}

header .main-logo .main-logo-box h4 span:nth-child(3) {
  padding: 0 0.6rem;
  background-color: #ffffff;
  color: #1db954;
  font-size: 2rem;
  animation: logo-color-animation 2s linear infinite alternate;
}

header .main-logo img {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

header .main-logo img.img-rotate {
  animation: logo-rotate-animation 5s linear infinite
}

/* ------ end header styles ------ */

/* ------ start side-bar styles ------ */
aside {
  background-color: #333333;
  border-radius: 0 0 3rem 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

aside .sidebar-logo img {
  width: 15%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

aside .sidebar-logo h2 {
  font-weight: bold;
  color: #1db954;
  font-size: 1.6rem;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

aside nav ul li a {
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

aside nav ul li a svg {
  vertical-align: text-bottom;
}

aside nav ul li a:hover span {
  color: #70e79a;
}

aside nav ul li a:hover svg {
  fill: #70e79a;
}

aside nav ul li a span {
  padding: 0 1rem;
}

a.active span {
  color: #1db954 !important;
}

a.active svg {
  fill: #1db954 !important;
}

aside p {
  font-size: 1.15rem;
}

/* ------ end side-bar styles ------ */

/* ------ start main styles ------ */
.music-container h2::after,
.contact-us-container h2::after,
.about-us-container h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgba(29, 185, 84, 0.8) 80%, rgba(255, 255, 255) 100%);
  margin-top: 1.5rem;
}

.music-container,
.contact-us-container,
.about-us-container {
  padding: 2rem 3rem;
  overflow: auto;
}

.music-container::-webkit-scrollbar,
.contact-us-container::-webkit-scrollbar,
.about-us-container::-webkit-scrollbar {
  width: 10px;
}

.music-container::-webkit-scrollbar-track,
.contact-us-container::-webkit-scrollbar-track,
.about-us-container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 2rem;
}

.music-container::-webkit-scrollbar-thumb,
.contact-us-container::-webkit-scrollbar-thumb,
.about-us-container::-webkit-scrollbar-thumb {
  background: radial-gradient(#1db954, #85eba9);
  border-radius: 2rem;
}

.music-container .alert-custom {
  font-size: 1.3rem;
  font-weight: bold;
}

.music-item {
  height: 30%;
  padding-bottom: 0.7rem;
}

.music-item::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, rgba(29, 185, 84, 0.8) 80%, rgba(255, 255, 255) 100%);
}

.music-item.active-music .music-item-cover .music-image {
  animation-name: active-music-shadow-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.music-item .music-item-cover {
  width: 20%;
}

.music-item .music-item-cover .music-image {
  width: 85px;
  height: 85px;
  background-size: 100% 100%;
  cursor: pointer;
}

.music-item .music-item-desc .music-item-title,
.music-item .music-item-options svg {
  cursor: pointer;
}

.music-item .music-item-options .btn-group-custom a.disabled {
  background-color: #191c1f;
  border: #191c1f;
}

.music-item .music-item-desc .equ-boxes {
  width: 20%;
  height: 40px;
  margin-right: 11rem;
}

.music-item .music-item-desc .equ-boxes .equ-box {
  width: 22%;
  height: 20%;
  border-radius: 30%;
}

.music-container .music-item:last-of-type {
  margin-bottom: 0 !important;
}

.music-item .music-item-desc .equ-boxes .equ-box:nth-child(1) {
  background-color: #16853d;
}

.music-item .music-item-desc .equ-boxes .equ-box:nth-child(2) {
  background-color: #1db954;
}

.music-item .music-item-desc .equ-boxes .equ-box:nth-child(3) {
  background-color: #51eb87;
}

.music-item .music-item-desc .equ-boxes .equ-box:nth-child(4) {
  background-color: #85eba9;
}

.music-item .music-item-desc .equ-boxes .equ-box-active:nth-child(1) {
  background-color: #16853d;
  animation: equlizer-height-color 1.2s linear infinite alternate 0.1s
}

.music-item .music-item-desc .equ-boxes .equ-box-active:nth-child(2) {
  background-color: #1db954;
  animation: equlizer-height-color 1.2s linear infinite alternate 0.3s
}

.music-item .music-item-desc .equ-boxes .equ-box-active:nth-child(3) {
  background-color: #51eb87;
  animation: equlizer-height-color 1.2s linear infinite alternate 0.5s
}

.music-item .music-item-desc .equ-boxes .equ-box-active:nth-child(4) {
  background-color: #85eba9;
  animation: equlizer-height-color 1.2s linear infinite alternate 0.8s
}

.music-item .music-item-desc h5 {
  color: #1db954;
}

.music-item .music-item-options {
  width: 20%;
}

.music-item .music-item-options span {
  font-size: 1.3rem;
}

/* ------ end main styles ------ */

/* ------ start top-player-songs styles ------ */
.music-container .music-item-desc h6 {
  color: #555;
}

/* ------ end top-player-songs styles ------ */

/* ------ start contact-us styles ------ */
.contact-us-container p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 200%;
}

.contact-us-container form label {
  font-size: 1.2rem;
  color: #1db954;
}

.contact-us-container form label sup {
  color: red;
}

.contact-us-container form textarea {
  height: 8rem;
  resize: none;
}

.contact-us-container form input,
.contact-us-container form textarea {
  font-size: 1.1rem;
}

.contact-us-container form input[type='submit'] {
  font-size: 1.2rem;
}

.contact-us-container form input::placeholder,
.contact-us-container form textarea::placeholder,
.contact-us-container form select {
  font-size: 1.1rem !important
}

.contact-us-container form .btn-box {
  border-bottom: 1px solid #ddd;
}

.contact-us-container .address-container h5 {
  font-size: 1.2rem;
  color: #1db954;
}

.contact-us-container form textarea::-webkit-scrollbar {
  width: 5px;
}

.contact-us-container form textarea::-webkit-scrollbar-thumb {
  background: radial-gradient(#000, #555);
}

/* ------ end contact-us styles ------ */

/* ------ start about-us styles ------ */
.about-us-container p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 200%;
}

.custom-badge {
  background: radial-gradient(circle, rgb(27, 209, 133), rgba(29, 185, 84, 0.8));
}

/* ------ end about-us styles ------ */